body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.conteiner {
  margin: 0 auto;
  width: 1280px;
  height: 880px;
  background-color: #a79409;
  box-sizing: border-box;
  padding: 175px;
  border-radius: 20px;
}

.box {
  box-sizing: border-box;
  box-shadow: 0 0 80px rgba(12, 12, 12, 0.651);
  width: 912px;
  height: 530px;
  background-color: #161719;
  border-radius: 20px;
}

.wrap {
  text-align: left;
  padding: 40px;
  padding-bottom: 0px;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.circle.red {
  background-color: #eb2513;
}

.circle.green {
  background-color: #27c93f;
}

.circle.yellow {
  background-color: #ffbc2d;
}

p {
  margin-left: 10px;
  font-size: 4rem;
  /* line-height: 10px; */
  font-weight: 500;
  letter-spacing: 5px;
  color: #9c71c0;
  padding-top: 5%;
  padding-bottom: 3%;
}

.yellow {
  color: #ffbc2d;
}

.green {
  color: #27c93f;
}

.white {
  color: white;
}

.red {
  color: red;
}
h2 {
  text-shadow: 0 0 5px #e7a114;
  color: #e7a114;
  font-family: "Courier New", Courier, monospace;
}
